---
import Main from '../layouts/Main.astro';
import Cta from '../components/Cta.astro';
---

<Main title="Welcome to Astro.">
    <main>
        <Cta to="./test">
            Show more
        </Cta>
    </main>
</Main>
