---
export interface Props {
    to?: String
}
---

<button class="text-primary bg-none uppercase font-bold py-4 px-8 border-primary border hover:bg-primary hover:text-white transition-colors ease-in-out duration-300">
    <slot />
</button>
